@tailwind base;
@tailwind components;
@tailwind utilities;



.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: red;
  transform-origin: 0%;
}

.example-container div {
  background: pink;
  border-radius: 30px;
  width: 150px;
  height: 150px;
}